.searchbar {
	color: white;
	background-color: black;
	border-radius: 0.2em;
	border: 0.2em solid transparent;
	width: 100%;
	padding: 0.5em;
}

.song-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1em;
}

.song-list.hidden {
	display: none;
}

.no-results-text {
	display: none;
}

.no-results-text.visible {
	display: block;
}

.song-list-item {
	display: none;
	flex-direction: row;
	align-items: stretch;
	background-color: rgb(80, 80, 80);
	border: 0.2em solid rgb(80, 80, 80);
	border-radius: 0.2em;
}

.song-list-item.visible {
	display: flex;
}

.cover-art.link {
	aspect-ratio: 1;
	height: 7em;
	box-sizing: content-box;
	background-color: black;
	border-right: 0.15em solid rgb(80, 80, 80);
}

.cover-art.image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.content-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgb(50, 50, 50);
	flex: auto;
	padding: 0 1em;
}

.details-box {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: max(10em, 25%);
}

.title-text {
	font-size: 1.37em;
	margin: 0;
	padding: 0;
}

.artist-text {
	font-family: Verdana, serif;
	margin: 0;
	padding: 0;
}

.info-box {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.date-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7em;
}

.date-text {
	font-family: Verdana, serif;
	margin: 0;
	padding: 0;
}

.type-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5em;
}

.type-text {
	--type-color: white;
	color: var(--type-color);
	border: 0.15em solid var(--type-color);
	border-radius: 9999px;
	padding: 0.2em 0.35em;
	margin: 0;
}
.type-text:hover {background-color: rgba(255, 255, 255, 0.1);}

.type-text.single {--type-color: turquoise;}
.type-text.single:hover {background-color: rgba(64, 224, 208, 0.1);}

.type-text.remix {--type-color: springgreen;}
.type-text.remix:hover {background-color: rgba(0, 255, 127, 0.1);}

.type-text.album {--type-color: violet;}
.type-text.album:hover {background-color: rgba(238, 130, 238, 0.1);}

.type-text.ep {--type-color: white;}
.type-text.ep:hover {background-color: rgba(255, 255, 255, 0.1);}

.right-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex: auto;
}

.dropdown-box {
	display: flex;
	flex-direction: row;
}

.download-button {
	color: white !important;
	text-decoration: none;
	background-color: darkcyan;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 0.5em;
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px;
}


.download-button:hover {
	background-color: darkturquoise;
}
.download-button:hover ~ .dropdown-button {
	border-color: transparent;
}

.dropdown-button {
	color: white;
	background-color: darkcyan;
	padding: 0.5em;
	padding-right: 1em;
	padding-left: 0.5em;
	border: none;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	cursor: pointer;
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px;
}

.dropdown-button:hover {
	background-color: darkturquoise;
	border-color: transparent;
}

@media (max-width:900px) {
	.details-box {width: max(8em, 25%);}
	.type-box {display: none;}
	.date-box {display: none;}
}

@media (max-width:600px) {
}