.searchbar {
	color: white;
	background-color: black;
}

.song-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1em;
}

.song-list.hidden {
	display: none;
}

.no-results-text {
	display: none;
}

.no-results-text.visible {
	display: block;
}

.song-list-item {
	display: none;
	flex-direction: row;
	align-items: center;
	background-color: rgb(50, 50, 50);
	border: 0.2em solid rgb(80, 80, 80);
	border-radius: 0.2em;
	gap: 1em;
}

.song-list-item.visible {
	display: flex;
}

.details-box {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: max(10em, 25%);
}

.cover-art.link {
	aspect-ratio: 1;
	height: 5em;
	box-sizing: content-box;
	background-color: black;
	border-right: 0.15em solid rgb(80, 80, 80);
}

.cover-art.image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.title-text {
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

.artist-text {
	font-family: Verdana, serif;
	margin: 0;
	padding: 0;
}

.middle-box {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.date-text {
	font-family: Verdana, serif;
	margin: 0;
	padding: 0;
}

.type-text {
	margin: 0;
	padding: 0;
}

.right-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex: auto;
}

@media (max-width:900px) {
	.details-box {width: max(8em, 25%);}
	.type-text {display: none;}
}

@media (max-width:600px) {
	.middle-box {display: none;}
}