.searchbar {
	color: white;
	background-color: black;
}

.song-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1em;
}

.song-list.hidden {
	display: none;
}

.no-results-text {
	display: none;
}

.no-results-text.visible {
	display: block;
}

.song-list-item {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(50, 50, 50);
	border: 0.2em solid rgb(80, 80, 80);
	border-radius: 0.2em;
}

.song-list-item.visible {
	display: flex;
}

.left-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.details-box {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.cover-art {
	aspect-ratio: 1;
	height: 5em;
}

.cover-art.link {
	box-sizing: content-box;
	background-color: black;
	border-right: 0.15em solid rgb(80, 80, 80);
}

.title-text {
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

.artist-text {
	margin: 0;
	padding: 0;
}

.middle-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.right-box {
	padding-right: 1em;
}