body {
	background-color: black;
	background-image: url('/data/Background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	color: white;
	font-family: Verdana;
	margin: 50px;
}

div {
	background-color: rgba(0,0,0,0.5);
	border: 5px ridge rgba(169, 169, 169, 0.7);
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 3px;
}

a {
	transition: 0.2s;
}

a:link{
	color: rebeccapurple;
}

a:visited {
	color: rebeccapurple;
}

a:hover {
	color: darkviolet;
}

a:active {
	color: darkviolet;
}

.spacer {
	background-color: transparent;
	display: flex;
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 10px;
	justify-content: center;
}

.giscus {
	background-color: rgba(17, 17, 27, 0.5) !important;
	width: 70% !important;
	height: 100% !important;
	border: 2px solid rgba(203, 166, 247, 0.5) !important;
	padding: 10px !important;
	margin-left: 15% !important;
	margin-right: 15% !important;
	border-radius: 5px !important;
}

@media only screen and (max-width: 800px) {
	.giscus {
		background-color: rgba(17, 17, 27, 0.5) !important;
		width: 100% !important;
		height: 100% !important;
		border: 2px solid rgba(203, 166, 247, 0.5) !important;
		padding: 10px !important;
		margin-left: 0% !important;
		margin-right: 0% !important;
		border-radius: 5px !important;
	}
}